.nav {
  background-color: aqua;
}
.nav-top {
  display: flex;
  justify-content: space-between;
  padding: 6px 30px;
  align-items: center;
  border-bottom: 2px solid #e9e9e9;
  height: 18px;
}
.nav-top-right ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-top-right li {
  padding: 5px;
}
.nav-top-right a {
  padding: 5px;
  text-decoration: none;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.nav-top-left {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.nav-top-left ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-top-left ul a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
